body {
    margin: 0;
}

/* container_0 - bridge */
.container {
    background-color: black;
    text-align: center;
    /* height: 100vh; */
    padding-bottom: 3%;
}

.header_images {
    position: relative;
    padding-bottom: 5%;
}

.bridge {
    width: 100%;
}

.AK {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 0;
    right: 0;
    padding-top: 6vw;
    padding-right: 14vw;
}

.logo {
    position: fixed;
    width: 6%;
    top: 2vw;
    left: 3vw;
    transition: transform 0.001s ease-in-out;
    mix-blend-mode: difference;
    z-index: 9999;
  }

.logo_mean {
    position: fixed;
    width: 2.5%;
    top: 3.75vw;
    left: 4.6vw;
    mix-blend-mode: difference;
    z-index: 9999;
}

.bridge_text_medium {
    font-family: "Montserrat-SemiBold.ttf";
    color: white;
    word-spacing: 0.001vw;
}

.bridge_text {
    font-family: "Montserrat-SemiBold.ttf";
    color: white;
    word-spacing: 2vw;
}


/* container_1 - news */
.container_1 {
    background-color: white;
    padding: 10% 10% 10% 10%;
    height: 45vw;
}

.slider {
    position: relative;
    margin: auto;
}

.slide {
    position: absolute;
    opacity: 0;
    transition: 1s;
}

.slide_active {
    opacity: 1;
}

.responsive {
    width: 100%;
    height: auto;
}

.news_head {
    font-family: "Montserrat-Bold.ttf";
    color: black;
    text-align: left;
}

.news_text {
    font-family: "Montserrat-SemiBolt.ttf";
    color: black;
    text-align: left;
}

.news_more {
    font-family: "Montserrat-SemiBolt.ttf";
    color: black;
    float: left;
}

.news_all {
    font-family: "Montserrat-SemiBolt.ttf";
    color: black;
    float: right;
}


/* container_2 - start */
.container_2 {
    background-color: white;
    padding: 10% 10% 10% 10%;
    height: auto;
}

.container_2_block {
    position: relative;
    margin: auto;
}

.container_2_header {
    font-family: "Montserrat-Bold.ttf";
    color: black;
    text-align: left;
    margin-bottom: 0;
}

.container_2_text {
    font-family: "Montserrat-SemiBold.ttf";
    color: black;
    text-align: left;
}

.button_start {
    /* сброс стандартных стилей кнопки */
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    appearance: none;
    border: 0;
    border-radius: 6px;
    background: black;
    color: white;
    padding: 2% 20%;
    min-width: 10%;
}

.button_start:hover {
    background: rgb(44, 44, 44);
}

.button_start:focus {
    outline: none;
    box-shadow: 0 0 0 2px grey;
}

/* container_3 - about_us */
.container_3 {
    background-color: black;
    position: relative;
    padding-top: 30%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
    text-align: center;
    height: auto;
}

.container_3_text {
    font-family: "Montserrat-SemiBold.ttf";
    color: white;
    margin-bottom: 0;
}

.container_3_header {
    font-family: "Montserrat-Bold.ttf";
    color: white;
    margin-top: 0;
}


/* container 4-5-6 about_us */
.container_4, .container_5, .container_6 {
    background: black;
    padding: 10% 10% 10% 10%;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(1); */
    position: relative;
    margin: auto;
    gap: 5%;
}

.img {
    width: 100%;
}

.img img_2{
    grid-column-start: 2;
    grid-row-start: 1;
}

.img_1_text {
    font-family: "Montserrat-SemiBold.ttf";
    color: white;
    margin: 0;
}

.img_1_subtext {
    font-family: "Montserrat-Bold.ttf";
    color: white;
    margin-top: 0;
}


/* container_7 - about_teachers */
/* container_11 - drom */
.container_7, .container_11 {
    background-color: white;
    position: relative;
    padding-top: 30%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
    text-align: center;
    height: auto;
}

.container_7_text, .container_11_text {
    font-family: "Montserrat-SemiBold.ttf";
    color: black;
    margin-bottom: 0;
}

.container_7_header, .container_11_header {
    font-family: "Montserrat-Bold.ttf";
    color: black;
    margin-top: 0;
}


/* container 8-9-10 teachers */
.container_8, .container_9, .container_10 {
    background: white;
    padding: 7%;
    height: auto;
}

.img_teachers_text {
    font-family: "Montserrat-SemiBold.ttf";
    color: black;
    margin: 0;
}

.img_teachers_subtext {
    font-family: "Montserrat-Bold.ttf";
    color: black;
    margin-top: 0;
}

.img_teachers_subtext_right {
    grid-column-start: 2;
    grid-row-start: 2;
    font-family: "Montserrat-Bold.ttf";
    color: black;
    margin-top: 0;
}


/* container_12 about_drom */
.container_12 {
    background: white;
    padding: 10% 5%;
    height: auto;
}

.grid_about_drom{
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(1); */
    position: relative;
    margin: auto;
    gap: 1%;
}

.grid_about_drom_text{
    padding: 0;
}

.grid_about_drom h3{
    font-family: "Montserrat-Bold.ttf";
    line-height: 1,5;
    margin-bottom: 15px;
}

.grid_about_drom p{
    font-family: "Montserrat-SemiBold.ttf";
    line-height: 1.5;
    margin-top: 0;
}

.grid_about_drom_img{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.drom_img {
    width: 70%;
}

/*container_13*/
.container_13{
    background: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
}

.container_13_text {
    font-family: "Montserrat-SemiBold.ttf";
    color: white;
    margin-bottom: 0;
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.container_13_header {
    font-family: "Montserrat-Bold.ttf";
    color: white;
    margin-top: 0;
}

.motorcycle_park_moto_1{
    margin-top: 5%;
    width: 45% ;
}

/*container_14*/

.container_14{
    background: black;
    display: flex;
    height: auto;
    margin: 0;
    padding: 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.review{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    height: 70vh;
    margin: 10%;
    gap: 0%;
}

.horizontal-line_1 {
    height: 1px; /* Высота полоски */
    background-color: white; /* Цвет полоски */
    grid-column: 2/5;
    grid-row: 1;
    margin-top: 10%;
}

.otziv_coment{
    font-family: "Montserrat-SemiBold.ttf";
    color: white;
    margin: 0;
    padding-top: 30%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.otziv_name{
    font-family: "Montserrat-Bold.ttf";
    color: white;
    padding-top: 45%;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

/*.rerere{
    text-align: center;*/
    .button_back{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: left;
        width: 35%;
    }
    .button_next{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: end;
        width: 35%;

    }
    .horizontal-line_2 {
        height: 1px; /* Высота полоски */
        background-color: white; /* Цвет полоски */
        margin: 0;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }


.container_15 {
    display: flex;
    flex-direction: column; /* Располагаем элементы один за другим по вертикали */
    text-align: center; /* Центрируем текст внутри блоков */
    background: white;
    align-items: center;
}

.container_15 > div {
    margin: 10px; /* Добавляем отступы между блоками (по желанию) */
}

.basic_course, .rider_course, .trial_lesson {
    display: flex;
    height: auto;
    padding: 5% 5% 5% 5%;
    flex-direction: column; /* Организуем элементы в столбик */
    align-items: center; /* Центрируем элементы внутри блока */
}

.time_container, .book_container, .cone_container {
    display: flex; /* Размещаем время и текст по горизонтали */
    align-items: center; /* Центрируем элементы по вертикали */
}

.time_container img, .time_container h3,
.book_container img, .book_container h3,
.cone_container img, .cone_container h3 {
    margin: 0 10px; /* Добавляем отступы между изображением и текстом в контейнере (по желанию) */
    font-family: "Montserrat-SemiBold.ttf";
}

.time_container img, .book_container img, .cone_container img{
    width: 8%;
    height: auto;
}

.course, .course_price{
    font-family: "Montserrat-Bold.ttf";
    text-transform: uppercase;
    font-size: 225%;
    line-height: 0;
}

.img_moto{
    margin-right: 20px;
    width: 25%;
}

.course_text {
    opacity: 0; /* Начинаем с нулевой прозрачности */
    visibility: hidden; /* И скрытым текстом */
    transition: opacity 1s ease; /* Плавное появление в течение 1 секунды */
    font-family: "Montserrat-SemiBold.ttf";
}

.course_text.show {
    opacity: 1; /* При добавлении класса show текст становится видимым */
    visibility: visible; /* И показывается на экране */
}

.course_text_1 {
    font-family: "Montserrat-SemiBold.ttf";
    margin-bottom: 0;
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
}



.container_16{
    background: black;
    display: flex;
    height: 110vh;
}

.application{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    margin: auto;
    gap: 5%;
}

.img_qr{
    justify-self: center;
    width: 70%;
    padding: 5%;
}

.text_phone{
    display: flex;
    flex-direction: column; /* Организуем элементы в столбик */
    align-items: center;
    gap: 30px;
}

.phone{
    color: white;
    font-size: 30px;
    font-family: "Montserrat-SemiBold.ttf";
}

input[type="text"],
input[type="tel"] {
  background: transparent; /* Делаем фон прозрачным */
  border: none; /* Убираем границы вокруг элементов */
  border-bottom: 1px solid white; /* Добавляем подчеркивание */
  color: white; /* Устанавливаем цвет текста */
  font-size: 20px;
  font-family: "Montserrat-SemiBold.ttf";
}

input[type="datetime-local"]{
  background: transparent; /* Делаем фон прозрачным */
  border: none; /* Убираем границы вокруг элементов */
  border-bottom: 1px solid white; /* Добавляем подчеркивание */
  color: white; /* Устанавливаем цвет текста */
  font-size: 23.5px;
  font-family: "Montserrat-SemiBold.ttf";
}

.button_phone{
    font-size: 22px;
    font-family: "Montserrat-SemiBold.ttf";
}

.container_17{
    display: flex;
    background: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
}

.map{
    width: 100%;
    height: 400px;
}

.container_18{
    display: grid;
    flex-direction: column; /* Располагаем элементы один за другим по вертикали */
    text-align: center; /* Центрируем текст внутри блоков */
    background: black;
    align-items: center;
}

.text_under_map{
    color: white;
    text-align: center;
    font-family: "Montserrat-SemiBold.ttf";
}


/* less */
@media (max-width: 320px) {
    .bridge_text{
        font-size: 0.7em;
    }

    .bridge_text_medium{
        font-size: 0.7em;
    }

    .slider, .container_2_block, .grid {
        width: 192px;
    }

    .news_head, .img_1_subtext, .img_teachers_subtext, .img_teachers_subtext_right{
        font-size: 0.4em;
    }

    .news_text, .news_more, .news_all, .container_2_text, .button_start, .container_3_text, .img_1_text, .container_7_text, .container_11_text, .img_teachers_text {
        font-size: 0.3em;
    }

    .container_2_header, .container_3_header, .container_7_header, .container_11_header {
        font-size: 1em;
    }

    .grid_about_drom, .application {
        grid-template-columns: 1fr;
    }

    .grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .img_teachers_subtext_right {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .img img_2{
        grid-row-start: 1;
    }


    .grid_about_drom_text {
        padding-left: 20%; /* Возвращаем левый отступ для более широких экранов */
        font-size: 50%; /* Восстанавливаем исходный размер шрифта */
    }

    .container_13_text, .container_13_header, .otziv_name, .otziv_coment, .time_container, .book_container, .cone_container, .course_text, .course_text_1, .text_under_map{
        font-size: 50%;
    }

    .horizontal-line_2{
        margin-top: 10%;
    }

    .review{
        height: 35vh;
    }

    .course, .course_price{
        font-size: 60%;
    }

    input[type="text"], input[type="tel"], input[type="datetime-local"]{
        width: 30%;
        font-size: 30%;
    }

    .button_phone{
        width: 30%;
        font-size: 30%;
    }

    .map{
        height: 320px;
    }

    .text_under_map{
        font-size: 8px;
    }

    .phone{
        font-size: 8px;
    }
}

/* phones */
/* height 240px */
@media (min-width: 320px) {
    .bridge_text{
        font-size: 0.9em;
    }

    .bridge_text_medium{
        font-size: 0.9em;
    }

    .slider, .container_2_block, .grid {
        width: 192px;
    }

    .news_head, .img_1_subtext, .img_teachers_subtext, .img_teachers_subtext_right {
        font-size: 0.4em;
    }

    .news_text, .news_more, .news_all, .container_2_text, .button_start, .container_3_text, .img_1_text, .container_7_text, .container_11_text, .img_teachers_text {
        font-size: 0.3em;
    }

    .container_2_header, .container_3_header, .container_7_header, .container_11_header {
        font-size: 1em;
    }

    .grid_about_drom, .application{
        grid-template-columns: 1fr;
    }

    .grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .img_teachers_subtext_right {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .img img_2{
        grid-row-start: 1;
    }

    .grid_about_drom_text {
        padding-left: 20%;
        font-size: 60%;
    }

    .container_13_text, .container_13_header, .otziv_name, .otziv_coment, .time_container, .book_container, .cone_container, .course_text, .course_text_1, .text_under_map {
        font-size: 60%;
    }

    .horizontal-line_2{
        margin-top: 10%;
    }

    .review{
        height: 40vh;
    }

    .course, .course_price{
        font-size: 90%;
    }

    input[type="text"], input[type="tel"], input[type="datetime-local"]{
        width: 40%;
        font-size: 40%;
    }

    .button_phone{
        width: 40%;
        font-size: 40%;
    }

    .map{
        height: 320px;
    }

    .text_under_map{
        font-size: 10px;
    }

    .phone{
        font-size: 10px;
    }

}

/* phones */
/* height 320px */
@media (min-width: 480px) {
    .bridge_text{
        font-size: 1.1em;
    }

    .bridge_text_medium{
        font-size: 1.1em;
    }

    .slider, .container_2_block, .grid {
        width: 288px;
    }

    .news_head, .img_1_subtext, .img_teachers_subtext, .img_teachers_subtext_right {
        font-size: 0.6em;
    }

    .news_text, .news_more, .news_all, .container_2_text, .button_start, .container_3_text, .img_1_text, .container_7_text, .container_11_text, .img_teachers_text {
        font-size: 0.5em;
    }

    .container_2_header, .container_3_header, .container_7_header, .container_11_header {
        font-size: 1.5em;
    }

    .grid_about_drom, .application{
        grid-template-columns: 2fr 1fr;
    }

    .grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .img_teachers_subtext_right {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .img img_2{
        grid-row-start: 1;
    }

    .grid_about_drom_text {
        padding-left: 20%; /* Возвращаем левый отступ для более широких экранов */
        font-size: 70%; /* Восстанавливаем исходный размер шрифта */
    }

    .container_13_text, .container_13_header, .otziv_name, .otziv_coment, .time_container, .book_container, .cone_container, .course_text, .course_text_1, .text_under_map {
        font-size: 70%;
    }

    .horizontal-line_2{
        margin-top: 20%;
    }

    .review{
        height: 45vh;
    }

    .course, .course_price{
        font-size: 130%;
    }

    input[type="text"], input[type="tel"], input[type="datetime-local"]{
        width: 50%;
        font-size: 50%;
    }

    .button_phone{
        width: 50%;
        font-size: 50%;
    }

    .map{
        height: 480px;
    }

    .text_under_map{
        font-size: 12px;
    }

    .phone{
        font-size: 14px;
    }
}

/* tablet */
/* height 576px */
@media (min-width: 768px) {
    .bridge_text{
        font-size: 1.2em;
    }

    .bridge_text_medium{
        font-size: 1.2em;
    }

    .slider, .container_2_block, .grid {
        width: 460px;
    }

    .news_head, .img_1_subtext, .img_teachers_subtext, .img_teachers_subtext_right {
        font-size: 0.95em;
    }

    .news_text, .news_more, .news_all, .container_2_text, .button_start, .container_3_text, .img_1_text, .container_7_text, .container_11_text, .img_teachers_text {
        font-size: 0.8em;
    }

    .container_2_header, .container_3_header, .container_7_header, .container_11_header {
        font-size: 2em;
    }

    .grid_about_drom, .application{
        grid-template-columns: 2fr 1fr;
    }

    .grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .img_teachers_subtext_right {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .img img_2{
        grid-row-start: 1;
    }

    .grid_about_drom_text {
        padding-left: 20%;
        font-size: 80%;
    }

    .container_13_text, .container_13_header, .otziv_name, .otziv_coment, .time_container, .book_container, .cone_container, .course_text, .course_text_1{
        font-size: 80%;
    }

    .horizontal-line_2{
        margin-top: 20%;
    }

    .review{
        height: 50vh;
    }

    .course, .course_price, .phone{
        font-size: 170%;
    }

    input[type="text"], input[type="tel"], input[type="datetime-local"]{
        width: 60%;
        font-size: 60%;
    }

    .button_phone{
        width: 60%;
        font-size: 60%;
    }

    .map{
        height: 576px;
    }

    .text_under_map{
        font-size: 14px;
    }

    .phone{
        font-size: 17px;
    }
}

/* netbooks */
/* height 768px */
@media (min-width: 1024px) {
    .bridge_text{
        display: inline;
        font-size: 0.95em;
    }

    .bridge_text_medium{
        display: inline;
        font-size: 0.95em;
    }

    .slider, .container_2_block, .grid {
        width: 614px;
    }

    .news_head, .img_1_subtext, .img_teachers_subtext, .img_teachers_subtext_right {
        font-size: 1.3em;
    }

    .news_text, .news_more, .news_all, .container_2_text, .button_start, .container_3_text, .img_1_text, .container_7_text, .container_11_text, .img_teachers_text {
        font-size: 1.2em;
    }

    .container_2_header, .container_3_header, .container_7_header, .container_11_header {
        font-size: 3em;
    }

    .grid_about_drom, .application{
        grid-template-columns: 2fr 1fr;
    }

    .grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .img_teachers_subtext_right {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .img img_2{
        grid-row-start: 1;
    }

    .grid_about_drom_text {
        padding-left: 20%; /* Возвращаем левый отступ для более широких экранов */
        font-size: 90%; /* Восстанавливаем исходный размер шрифта */
    }

    .container_13_text, .container_13_header, .otziv_name, .otziv_coment, .time_container, .book_container, .cone_container, .course_text, .course_text_1{
        font-size: 90%;
    }

    .horizontal-line_2{
        margin-top: 20%;
    }

    .review{
        height: 55vh;
    }

    .course, .course_price{
        font-size: 190%;
    }

    input[type="text"], input[type="tel"], input[type="datetime-local"]{
        width: 70%;
        font-size: 70%;
    }

    .button_phone{
        width: 70%;
        font-size: 70%;
    }

    .map{
        height: 768px;
    }

    .text_under_map{
        font-size: 16px;
    }

    .phone{
        font-size: 20px;
    }
}

/* not full-hd */
/* height 720px */
@media (min-width: 1280px) {
    .bridge_text{
        font-size: 1.1em;
    }

    .bridge_text_medium{
        font-size: 1.1em;
    }

    .slider, .container_2_block, .grid {
        width: 768px;
    }

    .news_head, .img_1_subtext, .img_teachers_subtext, .img_teachers_subtext_right {
        font-size: 1.6em;
    }

    .news_text, .news_more, .news_all, .container_2_text, .button_start, .container_3_text, .img_1_text, .container_7_text, .container_11_text, .img_teachers_text {
        font-size: 1.4em;
    }

    .container_2_header, .container_3_header, .container_7_header, .container_11_header {
        font-size: 4em;
    }

    .grid_about_drom, .application {
        grid-template-columns: 2fr 1fr;
    }

    .grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .img_teachers_subtext_right {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .img img_2{
        grid-row-start: 1;
    }

    .grid_about_drom_text {
        padding-left: 20%; /* Возвращаем левый отступ для более широких экранов */
        font-size: 100%; /* Восстанавливаем исходный размер шрифта */
    }

    .container_13_text, .container_13_header, .otziv_name, .otziv_coment, .time_container, .book_container, .cone_container, .course_text, .course_text_1{
        font-size: 100%;
    }

    .horizontal-line_2{
        margin-top: 20%;
    }

    .review{
        height: 60vh;
    }

    .course, .course_price{
        font-size: 200%;
    }

    input[type="text"], input[type="tel"], input[type="datetime-local"]{
        width: 80%;
        font-size: 80%;
    }

    .button_phone{
        width: 80%;
        font-size: 80%;
    }

    .map{
        height: 720px;
    }

    .text_under_map{
        font-size: 18px;
    }

    .phone{
        font-size: 24px;
    }
}

/* height 900px */
@media (min-width: 1600px) {
    .bridge_text{
        font-size: 1.4em;
    }

    .bridge_text_medium{
        font-size: 1.4em;
    }

    .slider, .container_2_block, .grid {
        width: 960px;
    }

    .news_head, .img_1_subtext, .img_teachers_subtext, .img_teachers_subtext_right {
        font-size: 2.1em;
    }

    .news_text, .news_more, .news_all, .container_2_text, .button_start, .container_3_text, .img_1_text, .container_7_text, .container_11_text, .img_teachers_text {
        font-size: 1.7em;
    }

    .container_2_header, .container_3_header, .container_7_header, .container_11_header {
        font-size: 5em;
    }

    .grid_about_drom, .application{
        grid-template-columns: 2fr 1fr;
    }

    .grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .img_teachers_subtext_right {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .img img_2{
        grid-row-start: 1;
    }

    .grid_about_drom_text {
        padding-left: 20%; /* Возвращаем левый отступ для более широких экранов */
        font-size: 110%; /* Восстанавливаем исходный размер шрифта */
    }

    .container_13_text, .container_13_header, .otziv_name, .otziv_coment, .time_container, .book_container, .cone_container, .course_text, .course_text_1 {
        font-size: 110%;
    }

    .horizontal-line_2{
        margin-top: 20%;
    }

    .review{
        height: 65vh;
    }

    .course, .course_price{
        font-size: 210%;
    }

    input[type="text"], input[type="tel"], input[type="datetime-local"]{
        width: 120%;
        font-size: 120%;
    }

    .button_phone{
        width: 90%;
        font-size: 90%;
    }

    .map{
        height: 900px;
    }

    .text_under_map{
        font-size: 20px;
    }

    .phone{
        font-size: 27px;
    }
}

/* full-hd */
/* height 1080px */
@media (min-width: 1920px) {
    /* .container{
        height: 1080px;
    } */

    .bridge_text{
        font-size: 1.7em;
    }

    .bridge_text_medium{
        font-size: 1.7em;
    }

    .slider, .container_2_block, .grid {
        width: 1162px;
    }

    .news_head, .img_1_subtext, .img_teachers_subtext, .img_teachers_subtext_right {
        font-size: 2.5em;
    }

    .news_text, .news_more, .news_all, .container_2_text, .button_start, .container_3_text, .img_1_text, .container_7_text, .container_11_text, .img_teachers_text {
        font-size: 2em;
    }

    .container_2_header, .container_3_header, .container_7_header, .container_11_header {
        font-size: 6em;
    }

    .grid_about_drom, .application{
        grid-template-columns: 2fr 1fr;
    }

    .grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .img_teachers_subtext_right {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .img img_2{
        grid-row-start: 1;
    }

    .grid_about_drom_text {
        padding-left: 20%; /* Возвращаем левый отступ для более широких экранов */
        font-size: 120%; /* Восстанавливаем исходный размер шрифта */
    }

    .container_13_text, .container_13_header, .otziv_name, .otziv_coment, .time_container, .book_container, .cone_container, .course_text, .course_text_1 {
        font-size: 120%;
    }

    .horizontal-line_2{
        margin-top: 20%;
    }

    .review{
        height: 70vh;
    }

    .course, .course_price{
        font-size: 225%;
    }

    input[type="text"], input[type="tel"], input[type="datetime-local"] {
        width: 150%;
        font-size: 150%;
    }

    .map{
        height: 1080px;
    }

    .text_under_map{
        font-size: 22px;
    }

    .phone{
        font-size: 30px;
    }
}


@font-face {
    font-family: "Montserrat-SemiBold.ttf";
    src: url(C:/Users/Ruslan/Documents/motoschool-Artura-Kalina/src/fonts/Montserrat-SemiBold.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Bold.ttf";
    src: url(C:/Users/Ruslan/Documents/motoschool-Artura-Kalina/src/fonts/Montserrat-Bold.ttf) format("truetype");
    font-style: normal;
}