.container {
    margin: auto;
    margin-top: 10%;
}

.news {
    display: grid;
    background-color: white;
    text-align: justify;
    padding-top: 3%;
}

.adress_bar {
    color: black;
    font-family: "Montserrat-Bold.ttf";
    display: inline;
}

.news img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.news_header {
    font-family: "Montserrat-Bold.ttf";
}

.news_date {
    font-family: "Montserrat-SemiBold.ttf";
}

.news_description {
    font-family: "Montserrat-SemiBold.ttf";
}

.auto_text {
    position: absolute;
    top: 0;
    right: 0;
    writing-mode: vertical-rl;
    height: 100%;
    margin: 0% 5% 0% 0%;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
    opacity: 1;
}

.auto_textt {
    height: 100%;
}

/* less */
@media (max-width: 320px) {
    .container {
        width: 192px;
    }

    .auto_text {
        font-size: 1.5em;
    }
}

/* phones */
/* height 240px */
@media (min-width: 320px) {
    .container {
        width: 192px;
    }

    .news {
        gap: 2%;
    }

    .auto_text {
        font-size: 1.6em;
    }
}

/* phones */
/* height 320px */
@media (min-width: 480px) {
    .container {
        width: 288px;
    }

    .news {
        gap: 1%;
    }

    .auto_text {
        font-size: 2.5em;
    }
}

/* tablet */
/* height 576px */
@media (min-width: 768px) {
    .container {
        width: 460px;
    }

    .news {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        gap: 3%;
    }

    .auto_text {
        font-size: 4em;
    }
}

/* netbooks */
/* height 768px */
@media (min-width: 1024px) {
    .container {
        width: 614px;
    }

    .news {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .auto_text {
        font-size: 5.5em;
    }
}

/* not full-hd */
/* height 720px */
@media (min-width: 1280px) {
    .container {
        width: 768px;
    }

    .auto_text {
        font-size: 7em;
    }
}

/* height 900px */
@media (min-width: 1600px) {
    .container {
        width: 960px;
    }

    .auto_text {
        font-size: 8em;
    }
}

/* full-hd */
/* height 1080px */
@media (min-width: 1920px) {
    .container {
        width: 1162px;
    }

    .auto_text {
        font-size: 10em;
    }
}


@font-face {
    font-family: "Montserrat-SemiBold.ttf";
    src: url(/src/fonts/Montserrat-SemiBold.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Bold.ttf";
    src: url(/src/fonts/Montserrat-Bold.ttf) format("truetype");
    font-style: normal;
} 