body {
    margin: 0;
}

/* container_0 - bridge */
.container {
    background-color: black;
    text-align: center;
    padding-bottom: 3%;
    /* height: 100vh; */
}

.header_images {
    position: relative;
}

.bridge {
    width: 100%;
    padding-bottom: 3%;
}

.AK {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 0;
    right: 0;
    padding-top: 6vw;
    padding-right: 14vw;
}

.bridge_text_medium {
    font-family: "Montserrat-SemiBold.ttf";
    color: white;
    word-spacing: 0.001vw;
}

.bridge_text {
    font-family: "Montserrat-SemiBold.ttf";
    color: white;
    word-spacing: 2vw;
}


/* container_1 - news */
.container_1 {
    background-color: white;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    /* height: 100vh; */
}

.slider {
    position: relative;
    margin: auto;
    height: auto;
}

.slide {
    position: absolute;
    opacity: 0;
    transition: 1s;
}

.slide_active {
    opacity: 1;
}

.responsive {
    width: 100%;
    height: auto;
}

.news_head {
    font-family: "Montserrat-Bold.ttf";
    color: black;
    text-align: left;
}

.news_text {
    font-family: "Montserrat-SemiBolt.ttf";
    color: black;
    text-align: left;
}

.news_more {
    font-family: "Montserrat-SemiBolt.ttf";
    color: black;
    float: left;
}

.news_all {
    font-family: "Montserrat-SemiBolt.ttf";
    color: black;
    float: right;
}

/* less */
@media (max-width: 320px) {
    .bridge_text{
        font-size: 0.7em;
    }

    .bridge_text_medium{
        font-size: 0.7em;
    }

    .slider {
        width: 192px;
    }

    .news_head{
        font-size: 0.4em;
    }

    .news_text, .news_more, .news_all {
        font-size: 0.3em;
    }
}

/* phones */
/* height 240px */
@media (min-width: 320px) {
    .bridge_text{
        font-size: 0.9em;
    }

    .bridge_text_medium{
        font-size: 0.9em;
    }

    .slider {
        width: 192px;
    }

    .news_head{
        font-size: 0.4em;
    }

    .news_text, .news_more, .news_all {
        font-size: 0.3em;
    }

}

/* phones */
/* height 320px */
@media (min-width: 480px) {
    .bridge_text{
        font-size: 1.1em;
    }

    .bridge_text_medium{
        font-size: 1.1em;
    }

    .slider {
        width: 288px;
    }

    .news_head{
        font-size: 0.6em;
    }

    .news_text, .news_more, .news_all {
        font-size: 0.5em;
    }
}

/* tablet */
/* height 576px */
@media (min-width: 768px) {
    .bridge_text{
        font-size: 1.2em;
    }

    .bridge_text_medium{
        font-size: 1.2em;
    }

    .slider {
        width: 460px;
    }

    .news_head{
        font-size: 0.95em;
    }

    .news_text, .news_more, .news_all {
        font-size: 0.8em;
    }
}

/* netbooks */
/* height 768px */
@media (min-width: 1024px) {
    .bridge_text{
        display: inline;
        font-size: 0.95em;
    }

    .bridge_text_medium{
        display: inline;
        font-size: 0.95em;
    }

    .slider {
        width: 614px;
    }

    .news_head{
        font-size: 1.3em;
    }

    .news_text, .news_more, .news_all {
        font-size: 1.2em;
    }
}

/* not full-hd */
/* height 720px */
@media (min-width: 1280px) {
    .bridge_text{
        font-size: 1.1em;
    }

    .bridge_text_medium{
        font-size: 1.1em;
    }

    .slider {
        width: 768px;
    }

    .news_head{
        font-size: 1.6em;
    }

    .news_text, .news_more, .news_all {
        font-size: 1.4em;
    }
}

/* height 900px */
@media (min-width: 1600px) {
    .bridge_text{
        font-size: 1.4em;
    }

    .bridge_text_medium{
        font-size: 1.4em;
    }

    .slider {
        width: 960px;
    }

    .news_head {
        font-size: 2.1em;
    }

    .news_text, .news_more, .news_all {
        font-size: 1.7em;
    }
}

/* full-hd */
/* height 1080px */
@media (min-width: 1920px) {
    /* .container{
        height: 1080px;
    } */

    .bridge_text{
        font-size: 1.7em;
    }

    .bridge_text_medium{
        font-size: 1.7em;
    }

    .slider {
        width: 1162px;
    }

    .news_head {
        font-size: 2.5em;
    }

    .news_text, .news_more, .news_all  {
        font-size: 2em;
    }
}


@font-face {
    font-family: "Montserrat-SemiBold.ttf";
    src: url(/src/fonts/Montserrat-SemiBold.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Bold.ttf";
    src: url(/src/fonts/Montserrat-Bold.ttf) format("truetype");
    font-style: normal;
}