body {
    margin: 0;
}

/* container_0 - bridge */
.container {
    background-color: black;
    text-align: center;
    /* height: 100vh; */
    padding-bottom: 3%;
}

.header_images {
    position: relative;
    padding-bottom: 5%;
}

.bridge {
    width: 100%;
}

.AK {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 0;
    right: 0;
    padding-top: 6vw;
    padding-right: 14vw;
}

.logo {
    position: fixed;
    width: 6%;
    top: 2vw;
    left: 3vw;
    transition: transform 0.001s ease-in-out;
    mix-blend-mode: difference;
    z-index: 9999;
  }

.logo_mean {
    position: fixed;
    width: 2.5%;
    top: 3.75vw;
    left: 4.6vw;
    mix-blend-mode: difference;
    z-index: 9999;
}

.bridge_text_medium {
    font-family: "Montserrat-SemiBold.ttf";
    color: white;
    word-spacing: 0.001vw;
}

.bridge_text {
    font-family: "Montserrat-SemiBold.ttf";
    color: white;
    word-spacing: 2vw;
}


/* container_1 - news */
.container_1 {
    background-color: white;
    padding: 10% 10% 10% 10%;
    height: 45vw;
}

.slider {
    position: relative;
    margin: auto;
}

.slide {
    position: absolute;
    opacity: 0;
    transition: 1s;
}

.slide_active {
    opacity: 1;
}

.responsive {
    width: 100%;
    height: auto;
}

.news_head {
    font-family: "Montserrat-Bold.ttf";
    color: black;
    text-align: left;
}

.news_text {
    font-family: "Montserrat-SemiBolt.ttf";
    color: black;
    text-align: left;
}

.news_more {
    font-family: "Montserrat-SemiBolt.ttf";
    color: black;
    float: left;
}

.news_all {
    font-family: "Montserrat-SemiBolt.ttf";
    color: black;
    float: right;
}


/* container_2 - start */
.container_2 {
    background-color: white;
    padding: 10% 10% 10% 10%;
    height: auto;
}

.container_2_block {
    position: relative;
    margin: auto;
}

.container_2_header {
    font-family: "Montserrat-Bold.ttf";
    color: black;
    text-align: left;
    margin-bottom: 0;
}

.container_2_text {
    font-family: "Montserrat-SemiBold.ttf";
    color: black;
    text-align: left;
}

.button_start {
    /* сброс стандартных стилей кнопки */
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    appearance: none;
    border: 0;
    border-radius: 6px;
    background: black;
    color: white;
    padding: 2% 20%;
    min-width: 10%;
}

.button_start:hover {
    background: rgb(44, 44, 44);
}

.button_start:focus {
    outline: none;
    box-shadow: 0 0 0 2px grey;
}

/* container_3 - about_us */
.container_3 {
    background-color: black;
    position: relative;
    padding-top: 30%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
    text-align: center;
    height: auto;
}

.container_3_text {
    font-family: "Montserrat-SemiBold.ttf";
    color: white;
    margin-bottom: 0;
}

.container_3_header {
    font-family: "Montserrat-Bold.ttf";
    color: white;
    margin-top: 0;
}


/* container 4-5-6 about_us */
.container_4, .container_5, .container_6 {
    background: black;
    padding: 10% 10% 10% 10%;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(1); */
    position: relative;
    margin: auto;
    gap: 5%;
}

.img {
    width: 100%;
}

.img_1_text {
    font-family: "Montserrat-SemiBold.ttf";
    color: white;
    margin: 0;
}

.img_1_subtext {
    font-family: "Montserrat-Bold.ttf";
    color: white;
    margin-top: 0;
}


/* container_7 - about_teachers */
/* container_11 - drom */
.container_7, .container_11 {
    background-color: white;
    position: relative;
    padding-top: 30%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
    text-align: center;
    height: auto;
}

.container_7_text, .container_11_text {
    font-family: "Montserrat-SemiBold.ttf";
    color: black;
    margin-bottom: 0;
}

.container_7_header, .container_11_header {
    font-family: "Montserrat-Bold.ttf";
    color: black;
    margin-top: 0;
}


/* container 8-9-10 teachers */
.container_8, .container_9, .container_10 {
    background: white;
    padding: 10% 10% 10% 10%;
    height: auto;
}

.img_teachers_text {
    font-family: "Montserrat-SemiBold.ttf";
    color: black;
    margin: 0;
}

.img_teachers_subtext {
    font-family: "Montserrat-Bold.ttf";
    color: black;
    margin-top: 0;
}

.img_teachers_subtext_right {
    grid-column-start: 2;
    grid-row-start: 2;
    font-family: "Montserrat-Bold.ttf";
    color: black;
    margin-top: 0;
}


/* container_12 about_drom */
.container_12 {
    background: white;
    padding: 10% 10% 10% 10%;
    height: auto;
}

.grid_about_drom{
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-template-rows: repeat(1); */
    position: relative;
    margin: auto;
    gap: 1%;
}

.drom_img {
    width: 100%;
}

/*container_13*/
.container_13{
    background: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container_13_text {
    font-family: "Montserrat-SemiBold.ttf";
    color: white;
    margin-bottom: 0;
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.container_13_header {
    font-family: "Montserrat-Bold.ttf";
    color: white;
    margin-top: 0;
}

.motorcycle_park_moto_1{
    height: ;
}

/*container_14*/

.container_14{
    background: black;
    display: flex;
    height: 100vh;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.otziv_1{
    color: white;
}

.otziv_1_1{
    color: white;
}

.button_back{

}

.button_next{

}

.horizontal-line {
  height: 1px; /* Высота полоски */
  background-color: white; /* Цвет полоски */
}

.horizontal-line_1 {
  height: 1px; /* Высота полоски */
  background-color: white; /* Цвет полоски */
}


/* less */
@media (max-width: 320px) {
    .bridge_text{
        font-size: 0.7em;
    }

    .bridge_text_medium{
        font-size: 0.7em;
    }

    .slider, .container_2_block, .grid {
        width: 192px;
    }

    .news_head, .img_1_subtext, .img_teachers_subtext, .img_teachers_subtext_right{
        font-size: 0.4em;
    }

    .news_text, .news_more, .news_all, .container_2_text, .button_start, .container_3_text, .img_1_text, .container_7_text, .container_11_text, .img_teachers_text {
        font-size: 0.3em;
    }

    .container_2_header, .container_3_header, .container_7_header, .container_11_header {
        font-size: 1em;
    }
}

/* phones */
/* height 240px */
@media (min-width: 320px) {
    .bridge_text{
        font-size: 0.9em;
    }

    .bridge_text_medium{
        font-size: 0.9em;
    }

    .slider, .container_2_block, .grid {
        width: 192px;
    }

    .news_head, .img_1_subtext, .img_teachers_subtext, .img_teachers_subtext_right {
        font-size: 0.4em;
    }

    .news_text, .news_more, .news_all, .container_2_text, .button_start, .container_3_text, .img_1_text, .container_7_text, .container_11_text, .img_teachers_text {
        font-size: 0.3em;
    }

    .container_2_header, .container_3_header, .container_7_header, .container_11_header {
        font-size: 1em;
    }

}

/* phones */
/* height 320px */
@media (min-width: 480px) {
    .bridge_text{
        font-size: 1.1em;
    }

    .bridge_text_medium{
        font-size: 1.1em;
    }

    .slider, .container_2_block, .grid {
        width: 288px;
    }

    .news_head, .img_1_subtext, .img_teachers_subtext, .img_teachers_subtext_right {
        font-size: 0.6em;
    }

    .news_text, .news_more, .news_all, .container_2_text, .button_start, .container_3_text, .img_1_text, .container_7_text, .container_11_text, .img_teachers_text {
        font-size: 0.5em;
    }

    .container_2_header, .container_3_header, .container_7_header, .container_11_header {
        font-size: 1.5em;
    }
}

/* tablet */
/* height 576px */
@media (min-width: 768px) {
    .bridge_text{
        font-size: 1.2em;
    }

    .bridge_text_medium{
        font-size: 1.2em;
    }

    .slider, .container_2_block, .grid {
        width: 460px;
    }

    .news_head, .img_1_subtext, .img_teachers_subtext, .img_teachers_subtext_right {
        font-size: 0.95em;
    }

    .news_text, .news_more, .news_all, .container_2_text, .button_start, .container_3_text, .img_1_text, .container_7_text, .container_11_text, .img_teachers_text {
        font-size: 0.8em;
    }

    .container_2_header, .container_3_header, .container_7_header, .container_11_header {
        font-size: 2em;
    }
}

/* netbooks */
/* height 768px */
@media (min-width: 1024px) {
    .bridge_text{
        display: inline;
        font-size: 0.95em;
    }

    .bridge_text_medium{
        display: inline;
        font-size: 0.95em;
    }

    .slider, .container_2_block, .grid {
        width: 614px;
    }

    .news_head, .img_1_subtext, .img_teachers_subtext, .img_teachers_subtext_right {
        font-size: 1.3em;
    }

    .news_text, .news_more, .news_all, .container_2_text, .button_start, .container_3_text, .img_1_text, .container_7_text, .container_11_text, .img_teachers_text {
        font-size: 1.2em;
    }

    .container_2_header, .container_3_header, .container_7_header, .container_11_header {
        font-size: 3em;
    }
}

/* not full-hd */
/* height 720px */
@media (min-width: 1280px) {
    .bridge_text{
        font-size: 1.1em;
    }

    .bridge_text_medium{
        font-size: 1.1em;
    }

    .slider, .container_2_block, .grid {
        width: 768px;
    }

    .news_head, .img_1_subtext, .img_teachers_subtext, .img_teachers_subtext_right {
        font-size: 1.6em;
    }

    .news_text, .news_more, .news_all, .container_2_text, .button_start, .container_3_text, .img_1_text, .container_7_text, .container_11_text, .img_teachers_text {
        font-size: 1.4em;
    }

    .container_2_header, .container_3_header, .container_7_header, .container_11_header {
        font-size: 4em;
    }
}

/* height 900px */
@media (min-width: 1600px) {
    .bridge_text{
        font-size: 1.4em;
    }

    .bridge_text_medium{
        font-size: 1.4em;
    }

    .slider, .container_2_block, .grid {
        width: 960px;
    }

    .news_head, .img_1_subtext, .img_teachers_subtext, .img_teachers_subtext_right {
        font-size: 2.1em;
    }

    .news_text, .news_more, .news_all, .container_2_text, .button_start, .container_3_text, .img_1_text, .container_7_text, .container_11_text, .img_teachers_text {
        font-size: 1.7em;
    }

    .container_2_header, .container_3_header, .container_7_header, .container_11_header {
        font-size: 5em;
    }
}

/* full-hd */
/* height 1080px */
@media (min-width: 1920px) {
    /* .container{
        height: 1080px;
    } */

    .bridge_text{
        font-size: 1.7em;
    }

    .bridge_text_medium{
        font-size: 1.7em;
    }

    .slider, .container_2_block, .grid {
        width: 1162px;
    }

    .news_head, .img_1_subtext, .img_teachers_subtext, .img_teachers_subtext_right {
        font-size: 2.5em;
    }

    .news_text, .news_more, .news_all, .container_2_text, .button_start, .container_3_text, .img_1_text, .container_7_text, .container_11_text, .img_teachers_text {
        font-size: 2em;
    }

    .container_2_header, .container_3_header, .container_7_header, .container_11_header {
        font-size: 6em;
    }
}


@font-face {
    font-family: "Montserrat-SemiBold.ttf";
    src: url(C:/Users/rusya/Documents/GitHub/motoschool-Artura-Kalina/src/fonts/Montserrat-SemiBold.ttf) format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Bold.ttf";
    src: url(C:/Users/rusya/Documents/GitHub/motoschool-Artura-Kalina/src/fonts/Montserrat-Bold.ttf) format("truetype");
    font-style: normal;
}